.footer {
  background-color: $color-secondary;
  grid-column: full-start/ full-end;
  grid-row: 9 / 10;

  padding: 8rem;

  @media only screen and (max-width:$bp-medium) {
    padding: 5rem;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
  list-style: none;
  justify-content: center;
  font-size: 2rem;
  // margin: 0 auto;
  @media only screen and (max-width:$bp-medium) {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
  &__item {
    padding: 1rem;
    transition: all .3s;
    &:hover {
      transform: translateY(-5px);
      background-image: linear-gradient(rgba(#fff, .3), rgba(#fff, .3)) 
    }
  } 
  
  &__link {
    text-decoration: none;
    color: $color-grey-light-1;
    font-size: 1.75rem;
  }
}

.copyright {
  font-size: 1.4rem;
  text-align: center;
  width: 70%;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  color: $color-grey-light-2;
}